{% extends 'baseTemplate_new.html' %}

{% block title %}Documentation{% endblock %}

{% block content %}
<div class="bg-white rounded-lg shadow-lg p-6">
    <h1 class="text-2xl font-bold text-gray-800 mb-6">Documentation</h1>
    <div style="display: flex; justify-content: center; align-items: center; padding: 20px; white-space: pre-wrap; overflow-wrap: break-word; word-break: break-all;">
        <pre style = "white-space: pre-wrap; overflow-wrap: normal; word-break: normal;" class="formatted-text">
            {{ content|safe }}
            <img src="static/meangreens.png" id=logo alt="Mean Greens" />
            <!-- <img src="static/backup_meangreens.jpg" id=logo alt="Mean Greens Alternate" /> -->
        </pre>
    </div>
</div>
{% endblock %}