<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alphabetized List</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<header>
    <nav>
        <div class="logo">
            <img src="static/meangreens.png" id=logo alt="Mean Greens" />
        </div>
        <ul class="navbar">
            <!--<img src="meangreens.png" id=logo alt="Mean Greens" />-->
            <li class="has-dropdown">
                <a href="/search">Search</a>
                <ul>
                    <li><a href="/filters">Filters</a></li>
                    <li><a href="/results">Results</a></li>
                </ul>
            </li>
            <li><a href="/doc">Documentation</a></li>
            <li class="has-dropdown">
                <a href="/wordlist">Wordlist</a>
                <ul>
                    <li><a href="/newword">New Word</a></li>
                </ul>  
            </li> 
            <li class="has-dropdown">
                <a href="/login">Login</a>
                <ul>
                    <li><a href="/personalwordlists">My Wordlists</a></li>
                    <li><a href="/logout"><a>Logout</a></li>
                </ul>
            </li>  
        </ul>
    </nav>
</header>
</html>