<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alphabetized List</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<header>
    <nav>
        <div class="logo">
            <img src="static/meangreens.png" id=logo alt="Mean Greens" />
        </div>
        <ul class="navbar">
            <!--<img src="meangreens.png" id=logo alt="Mean Greens" />-->
            <li class="has-dropdown">
                <a href="/search">Search</a>
                <ul>
                    <li><a href="/results">Results</a></li>
                </ul>
            </li>
            <li><a href="/doc">Documentation</a></li>
            <li><a href="/wordlist">Wordlist</a></li> 
            <li class="has-dropdown">
                <a href="/login">Login</a>
                <ul>
                    <li><a href="/list">My Wordlists</a></li>
                    <li><a href="/logout"><a>Logout</a></li>
                </ul>
            </li>  
        </ul>
    </nav>
</header>

<body>
    <h3> Create a new list </h3>

    <form action="/lists" method="post">
        <label for="newlistname"><b>List name</b></label>
        <input type="text" id="newlistname" placeholder="Enter List Name" name="newlistname" required>
        <input type="submit" value="Create">
    </form>


<!-- Code for listing owned items -->
    <h2>Your Lists</h2>
    <ul>
        {% for list in lists %}
        <!-- Make link into lists/listID -->
            <li><a href="{{url}}/list/{{list[3]}}">{{ list[2] }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>